body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(./Poker_Table.jpg);
}

h1{
    color: goldenrod;
    font-weight: bolder;
    font-size: 50px;
}

#message-el{
    font-size: xx-large;

}
