body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/*
Style our app according to the provided design 
green color -> #5f9341
*/

input {
  border: 1px #5f9341 solid;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  min-width: 400px;
}

button {
  background: #5f9341;
  border: 1px solid #5f9341;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 5px;
}

#del-btn {
  background: white;
  color: #5f9341;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 5px;
}
li {
  margin-top: 5px;
}
li a {
  color: #5f9341;
  text-decoration: none;
}
li a:hover {
  color: #9d2eff;
}
